.card-container {
  width: 17%;
  background: linear-gradient(
    104.61deg,
    #ff00b8 2.65%,
    #ff655b 51.83%,
    #ffc700 100%
  );
}
.card {
  padding: 5px 15px 35px;
  border-image-slice: 1;
  width: 16%;
  height: 245px;
  background-color: white;

  .text-container {
    height: fit-content;
    margin: 0 auto;
    padding: 10px 0;
    h2 {
      font-size: 22px;
    }
    h2,
    p {
      margin: 0;
    }
  }
  .logo-container {
    height: 28%;

    width: fit-content;
    margin: 20px auto;
    position: relative;
    img {
      max-width: 95%;
      max-height: 95%;
    }
    p {
      font-size: 15px;
      position: absolute;
      top: 32px;
      left: 20px;
    }
  }
  .btn,
  .btn > * {
    padding: 7px 10px;
    color: white;
    font-size: 18px;
    width: 100%;
    border-radius: 30px;
  }
  .btn:not(:first-child) {
    margin-left: 10px;
  }
  .card-btns {
    margin: 5px auto 10px auto;
    display: flex;
    flex-direction: row;
    .give-btn {
      background: linear-gradient(
        104.61deg,
        #ff00b8 2.65%,
        #ff655b 51.83%,
        #ffc700 100%
      );
    }
    .learn-btn {
      background: linear-gradient(161.32deg, #ff00b8 3.86%, #151371 98.64%);
    }
  }
}

.rounded-gradient-border {
  border: double 2px transparent;
  border-radius: 60px;
  background-image: linear-gradient(white, white),
    linear-gradient(104.61deg, #ff00b8 2.65%, #ff655b 51.83%, #ffc700 100%);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}
