.learn-page {
}

.main-content-learn-page {
  width: 90%;
  margin: 20px auto;
  background-color: white;
  border-radius: 30px;
  padding: 60px 30px;
  text-align: center;
  img {
    width: 20%;
    height: 20%;
  }

  .funding-info {
    width: 50%;
    margin: 0 auto;
  }
}
