#nav-bar,
nav > * {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  text-align: right;
  align-items: flex-start;
  background-color: white;
}

.social-media-links,
.menu-items {
  justify-content: space-between;
}

.mp-logo {
  position: absolute;
  left: 8%;
  top: 4%;
  z-index: 2;
  height: 135px;
  img {
    height: 100%;
  }
}
.social-media-links {
  width: 20%;
}

.menu-items {
  width: 35%;
  font-size: 14px;
}

.social-media-links {
  img {
    height: 17px;
  }
}

.connect-btn {
  margin: 0 13%;
}

#nav-bar {
  width: 70%;
  margin: 0 73px 0 auto;
  position: relative;
}

#nav-bar-container {
  width: 100%;
  padding-top: 30px;
  margin: 0;
  background-color: white;
}

.search-container {
  position: relative;
  height: 50px;

  .search-icon-top-layer {
    position: absolute;
    right: -43px;
    top: -3px;
    height: 50%;
  }

  .search-icon-bottom-layer {
    position: absolute;
    top: -15px;
    height: 100%;
  }
}
