.main-content {
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  .bottom-nav {
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
    button {
      border-radius: 15px;
      width: 32%;
      color: white;
      font-size: 27px;
      padding: 10px max(8%);
      background: linear-gradient(
        104.61deg,
        #ff00b8 2.65%,
        #ff655b 51.83%,
        #ffc700 100%
      );
    }
  }
}
.rounded-bottom {
  height: 30px;
  width: 101%;
  background-color: red;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}
