body {
  background: linear-gradient(
    104.61deg,
    #ff00b8 2.65%,
    #ff655b 51.83%,
    #ffc700 100%
  );
}

.main-content {
  background-color: white;
  width: 95%;
  margin: 20px auto;
  padding: 30px 10px;
}
