body {
  background: linear-gradient(
    104.61deg,
    #ff00b8 2.65%,
    #ff655b 51.83%,
    #ffc700 100%
  );
}

.main-content {
  background-color: white;
  width: 90%;
  margin: 20px auto 0 auto;
  padding: 30px 10px 0 10px;
}

.banner,
.banner-container {
  width: 90%;
  margin: 0 auto;
}

.category-header {
  color: #3c3b88;
  height: 30px;
}
